    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">BBN Associates</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#whyUs">Why Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#clients">Clients</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="bgHeader" id="page-top">
        <div class="px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">BBN CONSULTANTS</h1>
                    <h3 class="text-white font-weight-bold">Success with people</h3>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <h4 class="text-white mb-5">“BBN Consultants, is one of India's leading HR outsourcing & shared
                        services solutions providers. With geographical footprints all across
                        India, BBN Consultants clients through innovative and multifarious
                        HR solutions.”</h4>
                    <a class="btn btn-primary btn-xl btn-orange" href="#about">Find Out More</a>
                </div>
            </div>
        </div>
    </header>
    <section class="page-section bg-orange" id="about">
        <div class="px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-5">About Us</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white mb-4">With a focus on having a value-add impact on Human resource of our
                        patrons, we provide premium, value-adding and affordable HR
                        outsourcing & shared services solutions to people and enterprise. We
                        have reached over 500 people across various locations through our HR
                        engagement models for our clientele of more than 20.
                        <br/>
                        <br/>
                        BBN Consultants offers HR Services to its customers across the nation. We
                        are a limited but strong team of committed, motivated and dynamic HR
                        professionals, whose aim is not only to meet, but continuously exceed the
                        expectations of our clients.
                        <br/>
                        <br/>
                        Incorporated in 2021 with an aim to provide the most suitable
                        professionals, BBN Consultants deeply understands its client’s
                        requirements across functional domains.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-5">Our Vision</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">
                        BBN Consultants started with a clear perception of providing our clients
                        with the best services and maintaining a relationship on a mutually
                        beneficiary basis forever. Our vision is to become the most respectable
                        Consulting Company in the areas of Human Resource and Management Consulting.
                    </p>
                </div>
                <div class="col-lg-8 text-center">
                    <h2 class="mt-5">Our Mission</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">
                        We guarantee success on time every time. We aim to provide best of the
                        class services to our highly valuable clients & grow in association
                        with our esteemed clients & candidates for an everlasting time.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="whyUs">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-5">Why Us</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5 px-2 bg-danger">
                        <h3 class="h4 pb-3 pt-5">Quality</h3>
                        <p class="text-muted pb-5">Our screening process ensure quality
                            output within defined timelines. We
                            are committed to providing our clients
                            24x7 personalized services.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5 px-2 bg-warning">
                        <h3 class="h4 pb-3 pt-5">Commitment</h3>
                        <p class="text-muted pb-5">BBN is committed to building talent
                            within the organization and aims at
                            developing a customized solution to
                            your staffing requirements.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5 px-2 bg-info">
                        <h3 class="h4 pb-3 pt-5">Passion</h3>
                        <p class="text-muted pb-5">Experience coupled with passion and
                            the desire to emerge as prominent
                            leaders in the recruitment scenario
                            makes BBN Consultants are the best
                            choice for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" id="services">
        <div class="row services-box text-center">
            <h2 class="mt-5">Our Services</h2>
            <hr class="divider" />
            <div class="col-lg-3 col-md-6">
                Recruitment Services
            </div>
            <div class="col-lg-3 col-md-6">HR Services
            </div>
            <div class="col-lg-3 col-md-6">EPF, ESIC, Labour License, BOCW & LWF Services
            </div>
            <div class="col-lg-3 col-md-6">ISO, EMS, OHS&S and Food Safety consultation Services.
            </div>
        </div>
    </div>
    <div class="container" id="clients">
        <div class="row">
            <div class="col-lg-12 col-md-12">
            <h2 class="mt-5 text-center">Our Clients</h2>
            <hr class="divider" />
                <div id="clientCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row clients text-center">
                            <div class="col-lg-4 col-md-4"><span>IDS Infotech</span></div>
                            <div class="col-lg-4 col-md-4"><span>Knack Global</span></div>
                            <div class="col-lg-4 col-md-4"><span>FIS Global</span></div>
                        </div>
                       </div>
                      <div class="carousel-item">
                        <div class="row clients text-center">
                        <div class="col-lg-4 col-md-4"><span>Sartak Engineers Pvt Ltd.</span></div>
                        <div class="col-lg-4 col-md-4"><span>RAIN Qloud</span></div>
                        <div class="col-lg-4 col-md-4"><span>Competent Synergys</span></div>
                      </div>
                    </div>
                      <div class="carousel-item text-center">
                        <div class="row clients">
                        <div class="col-lg-3 col-md-3"><span>The Supreme Industries Ltd.</span></div>
                        <div class="col-lg-3 col-md-3"><span>APS Engineers Pvt Ltd.</span></div>
                        <div class="col-lg-3 col-md-3"><span>JPM Automobile Ltd.</span></div>
                        <div class="col-lg-3 col-md-3"><span>Mahle Filter(Anand Group)</span></div>
                      </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#clientCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#clientCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
    <footer class="bg-light py-5" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="small text-center">
                <h5>Contact Us</h5>
                <h6>To know more about us, please visit us at:</h6>
                <div>Address: F-304, 3rd Floor, Sector-25, Panchkula-134112</div>
                <div>Web: www.bbnassociates.in</div>
                <div>Email: support@bbnassociates.in</div>
                <div>Linkedin: www.linkedin.com/company/bbnconsultants</div>  
                <div>Contact Details: 98723-83200,7657979100</div>
            </div>
        </div>
    </footer>